# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app
*.opensdf

# Other
*.ilk
*.pdb
*.sdf
*.suo
/EsigInvader2/Debug
/EsigInvader2/x64/Debug/EsigInvader2.tlog
*.user
*.vcxproj
*.vcxproj.filters